* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  fieldset {
    margin-inline: 0;
    margin-block-end: 1rem;
  }
  
  label {
    display: inline-block;
    margin-block-end: 0.5rem;
  }
  
  input,select {
    display: block;
  
    padding: 0.5rem 0.3rem;
    border: 1px solid black;
    border-radius: 2px;

    width: 100%;
  
    max-width: 300px;
  }
  
  button{
      appearance: none;
      -webkit-appearance: none;
  
      margin: 0;
      padding: 0;
      border: none;
  
      display: inline-block;
      background: transparent;
  
      line-height: 1;
      cursor: pointer;
  }
  
  label,
  input,
  button,select {
    font-size: 1rem;
    transition: all 150ms linear;
  }

  input[type='radio'], input[type='checkbox']{
    display: inline-block;
    width: auto;
  }

  input[type='radio'] ~ label,
  input[type='checkbox'] ~ label{
    margin-block-end: 1rem;
  }
  
  .form-group {
    margin-inline-end: 1rem;
  }
  
  .btn{
      background-color: rgb(55, 64, 255);
  
      border-radius: 0.3rem;
      padding: 0.8rem 1.5rem;
      border: 1px solid #333;

      color: beige;
  }

  .btn:hover{
    background-color: rgb(45, 124, 255);
  }
  .btn:active{
    background-color: rgb(45, 64, 200);
  }
  